:root {
    /* Colors */

    --clr-dark-cyan: hsl(185, 75%, 39%);
    --clr-very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --clr-dark-grayish-blue: hsl(227, 10%, 46%);
    --clr-dark-gray: hsl(0, 0%, 59%);

    /* Font */
    --fs-name-and-stats: 1.125rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Kumbh Sans", sans-serif;
    display: grid;
    place-items: center;
    background-color: var(--clr-dark-cyan);
    background-image: url("../images/bg-pattern-top.svg"),
        url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 48vw bottom 50vh, left 50vw top 50vh;
}

.card {
    width: 350px;
    background-color: #fff;
    border-radius: 1em;
}

.card__background img {
    max-width: 100%;
    display: block;
    border-radius: 1em 1em 0 0;
}

.profile {
    text-align: center;
}

.profile__picture {
    padding: 2.3em;
    position: relative;
}

.profile__picture img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -53px;
    margin: auto;
    border: 5px solid #fff;
    border-radius: 50%;
}

.profile__info {
    padding-bottom: 1.5em;
    border-bottom: 1px solid lightgray;
}

.profile__info-name {
    font-size: var(--fs-name-and-stats);
    color: var(--clr-very-dark-desaturated-blue);
    font-weight: 700;
}

.profile__info-name span {
    color: var(--clr-dark-grayish-blue);
    font-weight: 400;
}

.profile__info-city {
    color: var(--clr-dark-gray);
    margin-top: 0.5em;
}

.stats {
    padding: 1.5em 2em;
}

.stats__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.stats__list-item h2 {
    font-size: var(--fs-name-and-stats);
    font-weight: 700;
}

.stats__list-item p {
    font-size: 0.75rem;
    letter-spacing: 2px;
    line-height: 2;
    color: var(--clr-dark-grayish-blue);
}

@media (max-width: 700px) {
    .card {
        width: 320px;
    }
}
